.about__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 39rem;
    width: 100%;
    background-color: rgb(227 204 173);
}

.text__about__container {
    width: 35rem;
    
}


.text__about__container p {
    color: rgb(104, 103, 103);
}

.table__img img {
    width: 600px;
    height: 400px;
}